<!DOCTYPE html>
@using Helper
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-reset.css")" rel="stylesheet" />


</head>
<body>
    @if (Session[SessionNames.User] != null && (Session[SessionNames.User] as User).Id != 0)
    {
    <nav>
        <ul>
            <li>
                <img src="~/Content/images/nav.png" alt="" />
            </li>
            <li>
                @Html.RouteLink("Dashboard", new { controller = "Dashboard", action = "index" } , new { @class = "hover" })
            </li>
            <li>
                @Html.RouteLink("Employees", new { controller = "Employee", action = "index" }, new { @class = "hover" })
            </li>
            <li>
                @Html.RouteLink("Projects", new { controller = "Projects", action = "index" }, new { @class = "hover" })
            </li>
            <li>
                @Html.RouteLink("Tasks", new { controller = "Tasks", action = "index" }, new { @class = "hover" })
            </li>
            <li>
                @Html.RouteLink("Contact", new { controller = "Employee", action = "index" }, new { @class = "hover" })
            </li>
            <li class="pull-right logoff "> <a href="@Url.RouteUrl("Default", new { controller = "Dashboard", action = "Logoff" })"  ><i class="fa fa-power-off"></i> </a></li>
            <li class="pull-right logoff"><a href="@Url.RouteUrl("Default", new { controller = "Dashboard", action = "Logoff" })" class="relative notify"><i class="notify-number">5</i> <i class="fa fa-globe"></i>    </a></li>
            <li class="pull-right logoff"><a href="@Url.RouteUrl("Default", new { controller = "Dashboard", action = "Logoff" })" class=""><i class="fa fa-building-o"></i> </a></li>

        </ul>
    </nav>
    }
    <div class="container">
        @RenderBody()
    </div>


    <footer class="">

        Copy Right @DateTime.Now.Year
    </footer>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/main.js"></script>

   
</body>
</html>
