@model Company

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_Layout.cshtml";
}

<h2></h2>

<div class="col-md-2"></div>

<div class="col-md-8">

    @using (var form = Html.BeginForm("Edit", "Company"))
    {
        <div class="text-danger  box">
            @Html.ValidationSummary()
        </div>
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m=> m.Name , new {@class="form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            @Html.LabelFor(m => m.Type)
                            @Html.TextBoxFor( m => m.Type , new {@class="form-control" }) 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address)
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber)
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.About)
                            @Html.TextAreaFor(m => m.About, new { @class = "form-control" })
                        </div>
                    </div>
                  
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.WebsiteUrl)
                            @Html.TextBoxFor(m => m.WebsiteUrl, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FacebookUrl)
                            @Html.TextBoxFor(m => m.FacebookUrl, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TwitterUrl)
                            @Html.TextBoxFor(m => m.TwitterUrl, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Update" />
            </div>
        </div>
    }
    </div>


            <div class="col-md-2"></div>

