@model List<ProjectInfo>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/_Layout.cshtml";
}
<h2></h2>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-circle btn-fixed" href="@Url.RouteUrl("default", new {controller = "projects", action= "add" })"><i class="fa fa-file-o"></i></a>
    </div>
    @foreach (ProjectInfo project in Model)
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class=" relative ">
                        @DB.GetProjectName(project.Parent, project.Name)
                        @if (project.Parent == 0)
                        {
                            <a class="btn btn-circle btn-small project-expand-btn" href="@Url.RouteUrl("default", new {controller = "projects", action= "add",id= project.Id })"><i class="fa fa-expand"></i></a>
                        }
                        <a class="btn btn-circle btn-small project-task-btn" href="@Url.RouteUrl("default", new {controller = "tasks", action= "add",id= project.Id })"><i class="fa fa-pencil"></i></a>
                    </h5>
                </div>
                <div class="panel-body">
                    @if (project.Precent > 0)
                    {

                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:@project.Precent%">
                                @project.Precent %
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="no-progress">There is no progress until you add tasks.</div>
                    }
                    <div class="table-responsive">
                        <table class="table table-bordered table-border-radius text-center">

                            <thead class="">
                                <tr>
                                    <td>
                                        Task No.
                                    </td>
                                    <td>Undecided</td>
                                    <td class="text-primary">InProcess</td>
                                    <td class="text-danger">Faile</td>
                                    <td class="text-success">Success</td>
                                </tr>
                            </thead>
                            <tr>
                                <td>@project.TaskCount</td>
                                <td>@project.Undecided</td>
                                <td>@project.InProcess</td>
                                <td class="">@project.Faile</td>
                                <td class="">@project.Success</td>
                            </tr>

                        </table>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
