@model List<ProjectInfo>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/_Layout.cshtml";
}
<h2></h2>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-circle btn-fixed" href="@Url.RouteUrl("default", new {controller = "projects", action= "add" })"><i class="fa fa-file-o"></i></a>
    </div>

    @foreach (ProjectInfo project in Model)
    {

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="bold relative ">

                    @project.Name
                    <a class="btn btn-circle btn-small project-task-btn"  href="@Url.RouteUrl("default", new {controller = "tasks", action= "add",id= project.Id })"><i class="fa fa-pencil"></i></a>

                   <a class="btn btn-circle btn-small project-expand-btn"><i class="fa fa-expand"></i></a>

                </h5>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:  @project.Precent%">
                        @project.Precent %
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">

                        <tr class="bold">
                            <td>
                                Task No.
                            </td>
                            <td>Undecided</td>
                            <td class="text-danger">Faile</td>
                            <td class="text-success">Success</td>
                        </tr>

                        <tr>
                            <td>@project.TaskCount</td>
                            <td>@project.Undecided</td>
                            <td class="text-danger">@project.Faile</td>
                            <td class="text-success">@project.Success</td>
                        </tr>

                    </table>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    }
   
    
</div>

