@model List<TasksCollection>

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/_Layout.cshtml";
}

<h2></h2>


<div class="row">
    <div class="col-md-12 bold small text-left">

        <span class="info-box all-task">All</span>
        <span class="info-box low-task">Low</span>
        <span class="info-box normal-task">Normal</span>
        <span class="info-box high-task">High</span>
    </div>
    <div class="col-md-12"><h1></h1></div>

    @foreach (TasksCollection t in Model)
    {
        @*<div class="col-md-12"><h1></h1></div>*@
    foreach (TaskInfo task in t.TasksList)
    {
        <div class="task-panel col-md-4  @task.priority">
            <div class="panel panel-default @task.priority">
                <div class="panel-heading ">
                    <h5 class="relative">

                        @task.ProjectName <a class="btn btn-circle btn-small project-task-btn" href="@Url.RouteUrl("default", new {controller = "tasks", action= "update",id= task.Id })"><i class="fa fa-pencil"></i></a>
                    </h5>

                </div>
                <div class="panel-body">
                    <h5>
                        @String.Concat(task.Name, " - ", task.State)
                    </h5>
                </div>

            </div>
        </div>
        }


    }



</div>