@model UserSignup
@{
    ViewBag.Title = "Register CEO user";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="col-md-2"></div>

<div class="col-md-8">
    @using (var form = Html.BeginForm("index", "signup"))
    {
        <div class="text-danger  box">
            @Html.ValidationSummary()
        </div>
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                </div>
                <div class="row">

                <div class="col-md-12">

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                
                    
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div><div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CompanyName)
                        @Html.TextBoxFor(m =>m.CompanyName,new { @class="form-control"})

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CompanyType)
                            @Html.TextBoxFor(m => m.CompanyType, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer ">
                <input type="submit" name="btnSubmit" value="Save" class="btn btn-primary btn-block" />
            </div>

        </div>

        <div ng-app="myApp">

            <div ng-view></div>
        </div>
    }

    
</div>

<div class="col-md-2"></div>



